{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 200,
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "jsxSingleQuote": true,
    "singleAttributePerLine": false,
    "endOfLine": "lf"
}
